.sidebar{
	background: #2d2e2e;
	height: 100vh;
	position: fixed;
	z-index: 1;
}
.sidebar ul li a{
	color:#fff;
	display: block;
	padding: 20px;
}
.sidebar ul li .activated{
	background-color: #00a8ff;
}